body{
  background-color: tan;
  height: 100%;
  background-repeat: no-repeat;
  font-family: sans-serif;
    }


.container{
  width: 95%;
  padding-top: 5%;
  margin: auto;
  background-color: transparent;
  z-index: 90;
}

.franja{
  background-color: orange;
  position: relative;
  width: 100%;
  margin: auto;
}

.dropbtn {
  background-color: transparent;
  border-radius: 100%;
  position: absolute;
  height: 100%;
  width:100%;
  left: 0;
  color: transparent;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn2 {
  background-color: transparent;
  position: absolute;
  overflow-y: scroll;
  right: 3%;
  top: 2%;
  color: white;
  padding: 0px;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {

  color: white;
}


.dropbtn2:hover, .dropbtn:focus {
  opacity:.3;
  text-decoration: none;
}


.dropdown-content {
  display: none;
  position: fixed;
  left:35%;
  top: 3%;
  padding: 1%;
  background-color: rgba(255, 0, 0, 0.7);
  opacity: 100%;
  width: 50%;
  height: 90%;
  overflow: auto;
  z-index: 90;
}

.plump {
  display: none;
  position: fixed;
  left:35%;
  top: 3%;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 100%;
  width: 50%;
  height: 90%;
  overflow: auto;
  z-index: 90;
}



.boton1 {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  margin-left: 9%;
}

.boton2 {
  width: 200px;
  height: 200px;
  background-color: blue;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  margin-left: 9%;
}

.boton3 {
  width: 200px;
  height: 200px;
  background-color: midnightblue;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  margin-left: 9%;
}


.show {display: block;}

}
